<div class='row'>
  <div class="col-md-3 col-lg-3" style='float:left; border:1px 1px 1px 1px';>
    <img style='float:right;' src='{{thumbnail}}' height='100' weight='100'>
  </div>
  <div class="col-md-8 col-lg-8" style='float:right;border:1px 1px 1px 1px';>
    <div  style='float:left;' >
      <p ><b>Song: </b>{{songname}}</p>
      <p><b>Artist: </b> {{artist}}</p>
      <p><b>Download:</b> <a href={{download128}}>{{download128}}</a></p>

    </div>


  </div>
</div>
